<html>
<body>
    <h1>OTP for Login Request</h1>
    <p>Hello, {{name}}</p>
    <p>Please find OTP for your Login request:</p>
    <p style="background: #007bff; color: #fff; padding: 10px 15px; text-decoration: none; border-radius: 5px;">{{otp}}</p>
    <p>If you didn't request this, you can ignore this email.</p>
</body>
</html>